.section {
  margin-top: 2rem;
  padding-top: 0.5rem;
  height: 20rem;
  justify-content: center;
  display: flex;
  background-color: #fff7d4;
  border-radius: 0.5rem;
}
.header {
  font-size: 20;
}
